{% include 'head.html' %}

<body>
    {% include 'nav.html' %}
    <div class="container-fluid">
        <div class='row post-form'>
            <div class='col-md-8 col-md-offset-2'>
                <h1>Welcome to The Wall, {{session['first_name']}}! </h1>
                <div>
                    <form action='/message' method='post'>
                        <div class='form-group'>
                            <h3 class='form-signin-heading'>Post a message</h3>
                            <textarea class="form-control" rows="3" name='message'></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {% if messagesDB %}
        <div class="panel-group col-md-8 col-md-offset-2" id="accordion" role="tablist" aria-multiselectable="true">
            {% for message in messagesDB %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading-{{message['new_id']}}">
                        <div class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{message['new_id']}}" aria-expanded="false" aria-controls="collapse-{{message['new_id']}}">
                            <h3>{{ message['first_name'] }} {{ message['last_name']}} {{ message['created_at']}}</h3>
                            <p>{{ message['post_text'] }}</p>
                            </a>
                        </div>
                    </div>
                    <div id=collapse-{{message['new_id']}} class="panel-collapse collapse" role="tabpanel" aria-labelledby=heading-{{message['new_id']}}>
                        <div class="panel-body">
                            {% if message['message'] %}
                                {% for comment in message['comment'] %}
                                    {% if message['id'] == comment['message_id'] %}
                                        <div class='row'>
                                            <div class='col-md-12'>
                                                <p>{{comment['comment']}}</p>
                                                <strong><p>Posted by: {{ message['first_name'] }} {{ message['last_name']}} at {{ message['created_at']}}</p></strong>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="row">
                                <div class='col-md-12'>
                                    <form action='/message/{{message['message_id']}}/comment' method='post'>
                                        <div class='form-group'>
                                            <h3 class='form-signin-heading'>Post a comment</h3>
                                            <textarea class="form-control" rows="3" name='comment'></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
   </div>



{% include 'footer.html'%}