<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% include 'userd/header.html'%}
        <title>Dashboard</title>
    </head>
    <body>
        {% include 'userd/navunsigned.html'%}
        <div class='wrapper container-fluid'>   
            <div class="jumbotron">
                <h1>Welcome to the Test!</h1>
                <p>We're going to build.....</p>
                <p><a class="btn btn-primary btn-lg" href="/signin" role="button">Start</a></p>
            </div>
            <div class='lowersection'>
                <div class='comments'>
                    <h2>Manage Users</h2>
                    <p>Using this application, you'll learn yow to add, remove, and edit users for the application.</p>
                </div>
                <div class='comments'>
                    <h2>Leave Messages</h2>
                    <p>Users will be able to leave a message to another user using this application.</p>    
                </div>
                <div class='comments'>
                    <h2>Edit User Information</h2>
                    <p>Admins will be able to edit another user's information (email, first name, last name, etc.).</p>    
                </div>
            </div>  
        </div><!--wrapper-->
    </body>
</html>