<!DOCTYPE html>
<html>
    <head>
      <title>Full Users App</title>      
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Full Users</h1><h3 name=login>Logged in: {{session['login']}}</h3>
        <table>
            <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>PW Confirm</th>
            <th>Action</th>
            </tr>
            {% for user in all_users: %}
            <tr>
                <td>{{ user['first_name'] }}</td>
                <td>{{ user['last_name'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['password'] }}</td>
                <td>
                <div class="actionbutton">
                    <form action="/users/{{user['id']}}/edit" method="get">  <!-- Remember that this comes from database, and what data structure does the query return ?? answer that and you will know what should be
                    put into the action attribute-->
                    <input name="email" type="hidden" value="{{user['email']}}" />
                    <input name="password" type="hidden" value="{{user['password']}}" />
                    <button type="submit" name="button">Edit</button>
                    </form>
                    <form action="/users/{{user['id']}}/delete" method="post">
                        <input name="email" type="hidden" value="{{user['email']}}" />
                        <input name="password" type="hidden" value="{{user['password']}}" />
                        <button type="submit" name="button" id={{user['email']}}>Delete</button>
                    </form>
                </div>
                </td>
            </tr>
            {% endfor %}
        </table>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h2>Add a user Feature</h2>
        <form action="/users" method="POST">
        <label for="first_name">First Name:<input type="text" name="first_name" value = {{session['first_name']}}></label>
        <label for="last_name">Last Name:<input type="text" name="last_name" value = {{session['last_name']}}></label>
        <label for="email">Email:<input type="text" name="email" value = {{session['email']}}></label>
        <label for="password">Password:<input type="text" name="password" value = {{session['password']}}></label>
        <label for="confirm_password">Confirm Password:<input type="text" name="confirm_password" value = {{session['confirm_password']}}></label>
        <input type="submit" value="AddUser">
        </form>
    </body>
</html>