body{
    background-color:whitesmoke;
}
div.container{
    padding: 15px;
}

table{
    width: 80%;
    border: 2px solid black;
    margin-bottom: 30px;
}
th, td {
    height: 20px;
}
thead {
    background-color: lightseagreen;
}
tbody {
    text-align: center;
}
tbody > tr:nth-child(even){
    background-color: lightgray;
}
